$primary: #B29CDA;
$primary-light: #E5CDFF;
$primary-dark: #826EA8;
$primary-text: #F8F8FD;

$secondary: #BFC932;
$secondary-light: #F4FC66;
$secondary-dark: #8B9800;
$secondary-text: #F3FAFB;

$base-color: #121212;
$gold: #FFD700;
$silver: #C0C0C0;
$bronze: #CD7F32;
